.tmc-builder {

    &-widgets-area {

        display: block;
        margin: 0;
        padding: 0;
        list-style: none;

        li.widget {

            display: block;
            margin: 0;
            padding: 0;

        }

    }

    &-sidebar-not-enabled {

        padding: 100px 20px;
        text-align: center;

        p {
            padding: 1em 0 0;
        }

    }

    &-button-add-new {

        display: inline-block;
        padding: 1em 1.5em;
        color: #fff;
        background-color: #3498DB;
        border-radius: 0.5em;
        box-shadow: 0 4px 0 darken( #3498DB, 15% );
        transition: all 100ms;
        outline: 0;

        &:hover {

            box-shadow: 0 8px 0 darken( #3498DB, 15% );
            color: #fff;
            transform: translateY( -4px );

        }

        &:active {

            box-shadow: 0 1px 0 darken( #3498DB, 15% );
            transform: translateY( 3px );

        }

        &:focus {

            outline: 0;

        }

    }

}